body{
    font-family:sans-serif;
}

#main-container{
    background: #e6e6e6;
}

/* Navigation Bar */
#navi{
    background-color: #2b2b2b;
    color: white;
    padding-left: 25px;
}
#navi span{
    font-size: 40px;
    font-family: 'Pacifico';
}

/* Favorite Link in Navigation Bar */
#favorite-meals-link{
    float: right;
    font-size: 18px;
    border: 2px solid #f0f0dd;
    margin-top: 10px;
    padding: 2px 8px 2px 8px;
    border-radius: 50px;
    text-decoration: none;
    color: #1f1f1f;
    background-color: #f0f0dd;
  }
#favorite-meals-link:hover {
    color: #DC3545;
    border: 2px solid #2b2b2b;
}

/* Search section */
#search-container{
    display: flex;
    justify-content: center;
    height: 48vh;
    align-items: center;

    background: url(./img/endless-constellation.svg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat:no-repeat;
}
#search-bar{
    width: 33%;
}

/* Contains cards of Home ge */
#cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #353535;
    /* background-image: linear-gradient(to right bottom, #262626, #222222, #1f1f1f, #1b1b1b, #181818, #171717, #161616, #151515, #161616, #181818, #191919, #1a1a1a); */
    padding: 2rem;
    flex-wrap: wrap!important;
}

/* Cards for Home page & Favorite page */
.card{
    width: 18rem;
    display: block;
    margin: 20px;
    position: relative;
    background-image: linear-gradient(to right bottom, #262626, #222222, #1f1f1f, #1b1b1b, #181818, #171717, #161616, #151515, #161616, #181818, #191919, #1a1a1a);
    box-shadow: 10px 12px 15px #000000;
    border: 4px solid beige;
    color: beige;
    text-align: center;
    padding-bottom: 10px;
}

/* When there is nothing to show on Home */
#msg-container{
    font-family:'Satisfy';
    height: 30vh;
    color: #f0f0dd;
    margin-top: 10%;
}

/* Recipe details Pop-up */
#meal-details {
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f0f0dd;
    border-radius: 3px;
    width: 75%;
    height: 80%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
    background-color: rgb(33, 37, 41);
    padding: 20px;
    box-shadow: 10px 12px 15px #000000;
    z-index: 2;
  }
#meal-details-container p{
    text-align: justify;
}
.recipe-meal-img img{
    float: left;
    margin: 5px 10px 0px 5px;
  }
.recipe-meal-img img{
    height: 12rem;
    width: 12rem;
}
.show-recipe {
    /* important used here to display the details page */
    display: block !important;
}
/* Back btn on PopUp */
.back-button {
    margin-bottom: 20px;
}

/* Banner img on Favourite Page */
#fav-banner{
    display: flex;
    justify-content: center;
    height: 25vh;
    align-items: center;
    background: url(./img/endless-constellation.svg);
    background-attachment: fixed;
}

/* Text On Fav Banner */
#fav-title{
    font-family: 'Satisfy';
    color: #fff;
    font-weight: 400;
    font-size: 4rem;
    text-shadow: 4px 4px 4px #000000;
}
/* #title {
    font-size: 1.7rem;
    color: beige !important;
} */

/* Favourite Card Container */
#favourite-meals-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #353535;
    /* background-image: linear-gradient(to right bottom, #262626, #222222, #1f1f1f, #1b1b1b, #181818, #171717, #161616, #151515, #161616, #181818, #191919, #1a1a1a); */
    padding: 2rem;
    flex-wrap: wrap!important;
}
/* Cards On Favourite Page */
.meal-items{
    display: block;
    margin: 20px;
    position: relative;
    background-image: linear-gradient(to right bottom, #262626, #222222, #1f1f1f, #1b1b1b, #181818, #171717, #161616, #151515, #161616, #181818, #191919, #1a1a1a);
    box-shadow: 5px 5px 14px #000000;
    color: beige;
    width: 18rem;
}
.meal-name{
    margin: 20px 10px 10px 10px;
}

/* When nothing on Fav Page */
#fav-msg{
    height: 40vh;
    color: #f0f0dd;
    margin-top: 10%;
    font-family: 'Satisfy';
}
/* .unfavourite-button{
    margin: 15px 10px 10px 10px;
} */

